<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}">
    <i class="heart-hulk-animation"><i class="icon-wishlist-heart-empty"></i></i>
    <span>Add to wishlist</span>
    <span class="count">(0)</span>
</a>
{% comment %}<a href="#" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}">{% endcomment %}
    {% comment %}<span class="icon icon-i-heart"></span>{% endcomment %}
    {% comment %}{% endcomment %}
</a>