<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li><a href="index.html">Головна</a></li>
      <li>Гід по визначенню розміру</li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="title text-center">
      <h1>Гід по визначенню розміру</h1>
    </div>
    <div class="subtitle text-center">Вибір бюстгальтера – дуже інтимний та захопливий процес. Але як бути, якщо ви не знаєте, який розмір вам підходить? Ми допоможемо вам!</div>
    <div class="size-guide">
      <div class="size-guide__group">
        <div class="size-guide__group-head">
          <div class="size-guide__group-title">Ваш розмір бюстгальтера</div>
          <a href="javascript:void(0);" class="js-guide">Як зробити заміри?</a>
        </div>
        <div class="size-guide__group-list">
          <div class="size-guide__group-row">
            <div class="size-guide__group-col size-guide-number">
              <b>1</b>
            </div>
            <div class="size-guide__group-col size-guide-title">Обхват грудей</div>
            <div class="size-guide__group-col size-guide-list">
              <select class="js-select size-breast" data-placeholder="Обрати розмір"></select>
            </div>
            <div class="size-guide__group-col size-guide-result"></div>
          </div>
          <div class="size-guide__group-row">
            <div class="size-guide__group-col size-guide-number">
              <b>2</b>
            </div>
            <div class="size-guide__group-col size-guide-title">Обхват під грудями</div>
            <div class="size-guide__group-col size-guide-list">
              <select class="js-select size-under-breast" data-placeholder="Обрати розмір"></select>
            </div>
            <div class="size-guide__group-col size-guide-result">
              <span class="size-bra"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="size-guide__group">
        <div class="size-guide__group-head">
          <div class="size-guide__group-title">Ваш розмір трусиків</div>
        </div>
        <div class="size-guide__group-list">
          <div class="size-guide__group-row">
            <div class="size-guide__group-col size-guide-number">
              <b>3</b>
            </div>
            <div class="size-guide__group-col size-guide-title">Обхват стегон</div>
            <div class="size-guide__group-col size-guide-list">
              <select class="js-select size-hips" data-placeholder="Обрати розмір"></select>
            </div>
            <div class="size-guide__group-col size-guide-result">
              <span class="size-panties"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="size-guide__content">
        <div class="size-guide__content-img">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
          <img src="img/size-guide-img.png" alt="">
        </div>
        <div class="size-guide__content-text">
          <h3>Як правильно зробити заміри?</h3>
          <p>З допомогою метрової стрічки зробіть заміри.</p>
          <p>1. Виміряйте обхват грудей, розмістивши стрічку в найбільш виступаючій точці грудей, на рівні із сосками.</p>
          <p>2. Виміряйте обхват під грудьми, розмістивши стрічку під грудьми, сантиметр повинен проходити там, де зазвичай резинка бюстгальтера.</p>
          <p>3. Виміряйте стегна, розмістивши стрічку на найбільш повній ділянці стегон.</p>
        </div>
      </div>
    </div>
  </div>
</div>
