<div class="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="index.html">Головна</a></li>
            <li>Повернення товару</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="title text-center">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="subtitle text-center">Детальніше про умови повернення товарів</div>
        <div class="text">
            <p>{{ page.content }}</p>
            </div>
    </div>
</div>